@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #EEE9C1,#EEE9C1);
}

main{
    background-color: #fff;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #b9b175;
}

h1{
    color: #FFA378 ;
    text-align: center;
    text-shadow: 1px 1px 2px #966149;
}

h2{
    color:#111D6F;
    text-align: center;
    
}
p{
    text-align: justify;
}

